h4 {
    color:blue;
}
span {
    color:yellow;
}
footer{
    background-color: #323232;
	color: #ffffff;
}
header{
	color: blue;
}
ol {
    border: 3px solid white;
    list-style-image:url("h.gif");
}
.header {
    padding: 30px;
    text-align: left;
    background-color:black;
    color: white;
}
h1 {
    color:black;
}
body {
    background-image:url('h.png');
}
a{
    color:orange;
    text-decoration:none;
}
a:hover{
    color:blue;
    background:yellow;
}