h4 {
    color:blue;
}
span {
    color:red;
}
footer{
    background-color: #323232;
	color: #ffffff;
}
header{
    background-color:#323232;
	color: black;
}
ol {
    border: 3px solid white;
    list-style-image:url("1.gif");
}
.header {
    padding: 30px;
    text-align: left;
    background-color:black;
    color: white;
}
h1 {
    color:white;
}
body {
    background-image:url('1.png');
}
a{
    color:orange;
}
a:hover{
    color:blue;
    background:yellow;
}